{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock title %}

{% block content %}
    <hr class="offset-md">

    <div class="box">
      <div class="container">
          <h1>Shopping Cart</h1>
          <hr class="offset-sm">
      </div>
    </div>
    <hr class="offset-md">


    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="checkout-cart">
                      <div class="content">

                        
                        {% for cart in carts %}
                          <div class="media">
                            <div class="media-left">
                              <a href="#">
                                <img class="media-object" src="{{cart.product.img.url}}" alt="HP Chromebook 11"/>
                              </a>
                            </div>
                            <div class="media-body">
                              <h2 class="h4 media-heading">{{cart.product.title}}</h2>
                              <label>{{cart.product.Brand}}</label>
                              
                              {% if cart.product.discount_price %}
                                <p class="price">{{cart.product.discount_price}}</p>
                                {% else %}
                                <p class="price">{{cart.product.selling_price}}</p>
                              {% endif %}
                                
                              
                            </div>
                            <div class="controls">
                              <div class="input-group">
                                <span class="input-group-btn">
                                  <button class="btn btn-default btn-sm" type="button" data-action="minus" cid='{{cart.id}}'><i class="ion-minus-round"></i></button>
                                </span>
                                <input type="text" class="form-control input-sm" placeholder="Qty" value="{{cart.quantity}}" readonly="">
                                <span class="input-group-btn">
                                  <button class="btn btn-default btn-sm" type="button" data-action="plus" cid='{{cart.id}}'><i class="ion-plus-round"></i></button>
                                </span>
                              </div><!-- /input-group -->

                              <a href="#remove"> <i class="ion-trash-b"></i> Remove </a>
                            </div>
                          </div>
                        {% endfor %}
                          
                          

                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-sm-8 col-md-4">
              <hr class="offset-md visible-sm">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <h2 class="no-margin">Summary</h2>
                    <hr class="offset-md">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-6">
                                <p>Subtotal ({{carts.count}} items)</p>
                            </div>
                            <div class="col-xs-6">
                                <p><b>$1499</b></p>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-6">
                                <h3 class="no-margin">Total sum</h3>
                            </div>
                            <div class="col-xs-6">
                                <h3 class="no-margin">$1499</h3>
                            </div>
                        </div>
                    </div>
                    <hr class="offset-md">

                    <a href="../checkout/" class="btn btn-primary btn-lg justify"><i class="ion-android-checkbox-outline"></i>&nbsp;&nbsp; Checkout order</a>
                    <hr class="offset-md">

                    <p>Pay your order in the most convenient way</p>
                    <div class="payment-icons">
                      <img src="../assets/img/payments/icon-paypal.svg" alt="paypal">
                      <img src="../assets/img/payments/icon-visa.svg" alt="visa">
                      <img src="../assets/img/payments/icon-mc.svg" alt="mc">
                      <img src="../assets/img/payments/icon-discover.svg" alt="discover">
                      <img src="../assets/img/payments/icon-ae.svg" alt="ae">
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="offset-lg">
    <hr class="offset-lg">
{% endblock %}
{% block script %}
  <script>
    $('button[data-action]').on('click', function(){
      let state = ''
      data = {}
      elm = this.parentNode.parentNode.children[1]
      $(this).data('action')=='plus' ? state ='plus' : state ='minus'
      data['state'] = state
      data['id'] = $(this).attr('cid')
      $.ajax({
        type:'GET',
        url:"{% url 'prus-or-minus' %}",
        dataType:'json',
        data:data,
        success:function(res){
          elm.value = res.cart_quantity
        }
      })
    })
  </script>
{% endblock script %}