{% extends 'base.html' %}
{% load static %}

{% block title %} Cart &middot; Unistore {% endblock title %}

{% block content %}
    <hr class="offset-md">

    <div class="box">
      <div class="container">
          <h1>Shopping Cart</h1>
          <hr class="offset-sm">
      </div>
    </div>
    <hr class="offset-md">


    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="checkout-cart">
                      
                      {% if carts %}
                      <div class="content">
                        {% for cart in carts %}
                          <div class="media">
                            <div class="media-left">
                              <a href="#">
                                <img class="media-object" src="{{cart.product.img.url}}" alt="HP Chromebook 11"/>
                              </a>
                            </div>
                            <div class="media-body">
                              <h2 class="h4 media-heading">{{cart.product.title}}</h2>
                              <label>{{cart.product.Brand}}</label>
                              
                              {% if cart.product.discount_price %}
                                <p class="price">${{cart.product.discount_price}}</p>
                                {% else %}
                                <p class="price">${{cart.product.selling_price}}</p>
                              {% endif %}
                                
                              
                            </div>
                            <div class="controls">
                              <div class="input-group">
                                <span class="input-group-btn">
                                  <button class="btn btn-default btn-sm" type="button" data-action="minus" cid='{{cart.id}}' id={{forloop.counter}}><i class="ion-minus-round"></i></button>
                                </span>
                                <input type="text" class="form-control input-sm" placeholder="Qty" value="{{cart.quantity}}" readonly="">
                                <span class="input-group-btn">
                                  <button class="btn btn-default btn-sm" type="button" data-action="plus" cid='{{cart.id}}' id={{forloop.counter}}><i class="ion-plus-round"></i></button>
                                </span>
                              </div><!-- /input-group -->

                              <a data-remove={{cart.id}} style="cursor: pointer;"> <i class="ion-trash-b"></i> Remove </a>
                            </div>
                          </div>
                        {% endfor %}
                      </div>
                      {% else %}
                      <div class="content">
                        <h3>You don't have any cart yet</h3>
                      </div>
                      {% endif %}
                        
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-sm-8 col-md-4">
              <hr class="offset-md visible-sm">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <h2 class="no-margin">Summary</h2>
                    <hr class="offset-md">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-6">
                                <p id="cart_count" style="display: block;border-bottom: 1.5px solid #b6b6b6;">Subtotal ({{carts.count}} items)</p>
                                {% for cart in carts %}
                                <div id="left{{cart.id}}">
                                  <p>{{cart.product.title}}</p>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="col-xs-6">
                                <p style="padding-top: 20px;"><b> </b></p>
                                {% for cart in carts %}
                                  <div id="left{{cart.id}}">
                                    <p id={{forloop.counter}}>${{cart.amount}}</p>
                                  </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-6">
                                <h3 class="no-margin">Total sum</h3>
                            </div>
                            <div class="col-xs-6">
                                <h3 class="no-margin" id="total_amount">${{total_amount}}</h3>
                            </div>
                        </div>
                    </div>
                    <hr class="offset-md">

                    <a href="../checkout/" class="btn btn-primary btn-lg justify"><i class="ion-android-checkbox-outline"></i>&nbsp;&nbsp; Checkout order</a>
                    <hr class="offset-md">

                    <p>Pay your order in the most convenient way</p>
                    <div class="payment-icons">
                      <img src="../assets/img/payments/icon-paypal.svg" alt="paypal">
                      <img src="../assets/img/payments/icon-visa.svg" alt="visa">
                      <img src="../assets/img/payments/icon-mc.svg" alt="mc">
                      <img src="../assets/img/payments/icon-discover.svg" alt="discover">
                      <img src="../assets/img/payments/icon-ae.svg" alt="ae">
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="offset-lg">
    <hr class="offset-lg">
{% endblock %}
{% block script %}
  <script>
    $('button[data-action]').on('click', function(){
      let state = ''
      data = {}
      elm = this.parentNode.parentNode.children[1]
      fl = $(this).attr('id')
      $(this).data('action')=='plus' ? state ='plus' : state ='minus'
      data['state'] = state
      data['id'] = $(this).attr('cid')
      $.ajax({
        type:'GET',
        url:"{% url 'prus-or-minus' %}",
        dataType:'json',
        data:data,
        success:function(res){
          elm.value = res.cart_quantity
          $('p[id='+ fl +']').text('$' + res.cart_amount)
          $("h3[id='total_amount']").text("$"+res.total_amount)
        }
      })
    });

    $('a[data-remove]').on('click', function(){
      id = $(this).data('remove')
      elm = this.parentNode.parentNode
      mitem = $(`div[id=left${id}]`)
      console.log(elm)
      $.ajax({
        type:'GET',
        url:"{% url 'remove-cart' %}",
        dataType:'json',
        data:{
          'id':id
        },
        success:function(res){
          elm.remove()
          mitem.remove()
          document.getElementById('cart_count').innerText = `Subtotal (${res.cart_count} items)`
          $("h3[id='total_amount']").text("$"+res.total_amount)
        }
      })
    })
  </script>
{% endblock script %}