{% extends 'base.html' %}
{% load static %}

{% block title %}
&middot; Unistore|catalog
{% endblock title %}


{% block over-content %}

{% endblock over-content %}


{% block content %}
  


    <div class="container tags">
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="ion-arrow-down-b"></i> Sorting by name
          </button>
          <ul class="dropdown-menu">
            <li data-list="id" class="checkbox-group"><a style="cursor: pointer;"> <i class="ion-arrow-down-c"></i> Name [A-Z]</a></li>
            <li data-list="-title" class="checkbox-group"><a style="cursor: pointer;"> <i class="ion-arrow-up-c"></i> Name [Z-A]</a></li>
            <li data-list="selling_price" class="checkbox-group"><a style="cursor: pointer;"> <i class="ion-arrow-down-c"></i> Price [Low-High]</a></li>
            <li data-list="-selling_price" class="checkbox-group"><a style="cursor: pointer;"> <i class="ion-arrow-up-c"></i> Price [High-Low]</a></li>
          </ul>
        </div>

        <p>Search by tags</p>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-default btn-xs active checkbox-group" data-tags="tags" data-val=''>
            <input type="radio" name="options" id="option1" checked>All products
          </label>
          <label class="btn btn-default btn-xs checkbox-group" data-tags="tags" data-val='Business'>
            <input type="radio" name="options" id="option2"> Business
          </label>
          <label class="btn btn-default btn-xs checkbox-group" data-tags="tags" data-val='Home'>
            <input type="radio" name="options" id="option3"> Home
          </label>
          <label class="btn btn-default btn-xs checkbox-group" data-tags="tags" data-val='Mobility'>
            <input type="radio" name="options" id="option4"> Mobility
          </label>
          <label class="btn btn-default btn-xs checkbox-group" data-tags="tags" data-val='Powerfull'>
            <input type="radio" name="options" id="option5"> Powerfull
          </label>
          <label class="btn btn-default btn-xs checkbox-group" data-tags="tags" data-val='Gaming'>
            <input type="radio" name="options" id="option6"> Gaming
          </label>
        </div>
    </div>

    <div class="container">
      <div class="row">
        <!-- Filter -->
        <div class="col-sm-3 filter">
          <div class="item">
              <div class="title">
                  <a href="#" data-action="open" class="down"> <i class="ion-android-arrow-dropdown"></i> Open</a>
                  <a data-action="type" class="checkbox-group" style="cursor: pointer;"> <i class="ion-ios-trash-outline"></i> Clear</a>
                  <h1 class="h4">Type</h1>
              </div>

              <div class="controls">
                <div class="checkbox-group" id='lap' data-status="inactive">
                    <div class="checkbox"><i class="ion-android-done"></i></div>
                    <div class="label" data-value="laptop">Laptops</div>
                    <input type="checkbox" name="checkbox" value="laptop" data-filter="type" class="filter-checkbox">
                </div>

                <div class="checkbox-group" id='tap' data-status="inactive">
                    <div class="checkbox"><i class="ion-android-done"></i></div>
                    <div class="label" data-value="taplet">Tablets</div>
                    <input type="checkbox" name="checkbox" value="taplet" data-filter="type" class="filter-checkbox">
                </div>

                <div class="checkbox-group" id='hyp' data-status="inactive">
                    <div class="checkbox"><i class="ion-android-done"></i></div>
                     <div class="label" data-value="hybrid">Hybrids</div>
                    <input type="checkbox" name="checkbox" value="hybrid" data-filter="type" class="filter-checkbox">
                </div>
              </div>
          </div>

          <br>

          <div class="item">
              <div class="title">
                  <a href="#clear" data-action="open" class="down"> <i class="ion-android-arrow-dropdown"></i> Open</a>
                  <a data-action="screen" class="checkbox-group" style="cursor: pointer;"> <i class="ion-ios-trash-outline"></i> Clear</a>
                  <h1 class="h4">Screen</h1>
              </div>

              <div class="controls grid">
                <div class="checkbox-group" data-status="inactive">
                    <div class="checkbox"><i class="ion-android-done"></i></div>
                    <div class="label" data-value="7 in">7 in</div>
                    <input type="checkbox" name="checkbox" value="7" data-filter="screen" class="filter-checkbox">
                </div>

                <div class="checkbox-group" data-status="inactive">
                    <div class="checkbox"><i class="ion-android-done"></i></div>
                    <div class="label" data-value="10 in">10 in</div>
                    <input type="checkbox" name="checkbox" value="10" data-filter="screen" class="filter-checkbox">
                </div>

                <div class="checkbox-group" data-status="inactive">
                    <div class="checkbox"><i class="ion-android-done"></i></div>
                     <div class="label" data-value="11 in">11 in</div>
                    <input type="checkbox" name="checkbox" value="11" data-filter="screen" class="filter-checkbox">
                </div>

                <div class="checkbox-group" data-status="inactive">
                    <div class="checkbox"><i class="ion-android-done"></i></div>
                    <div class="label" data-value="14 in">14 in</div>
                    <input type="checkbox" name="checkbox" value="14" data-filter="screen" class="filter-checkbox">
                </div>

                <div class="checkbox-group" data-status="inactive">
                    <div class="checkbox"><i class="ion-android-done"></i></div>
                    <div class="label" data-value="15 in">15 in</div>
                    <input type="checkbox" name="checkbox" value="15" data-filter="screen" class="filter-checkbox">
                </div>

                <div class="checkbox-group" data-status="inactive">
                    <div class="checkbox"><i class="ion-android-done"></i></div>
                     <div class="label" data-value="17 in">17 in</div>
                    <input type="checkbox" name="checkbox" value="17" data-filter="screen" class="filter-checkbox">
                </div>
              </div>
          </div>

          <br>

          <div class="item">
            <div class="title">
                <a href="#clear" data-action="open" class="down"> <i class="ion-android-arrow-dropdown"></i> Open</a>
                <a data-clear="clear" style="cursor: pointer;" class="checkbox-group"> <i class="ion-ios-trash-outline"></i> Clear</a>
                <h1 class="h4">Price</h1>
            </div>
            <label id="rangePrimary"></label>
            <div class="controls">
                <br>
                <input class="checkbox-group" type="range" min="1" max="3000" value="1000" class="slider" id="myRange" data-slider="price" style="display:block">
                <br>
                <p>1 $ -  <span id="demo"></span></p>
            </div>
          </div>
          <br>

          <div class="item lite">
              <div class="title">
                  <a data-action="open" class="down" style="cursor: pointer;"> <i class="ion-android-arrow-dropdown"></i> Open</a>
                  <a data-action="scrManufacturereen" class="checkbox-group" style="cursor: pointer;"> <i class="ion-ios-trash-outline"></i> Clear</a>
                  <h1 class="h4">Manufacturer</h1>
              </div>

              <div class="controls">
                <div class="checkbox-group" data-status="inactive">
                    <div class="checkbox"><i class="ion-android-done"></i></div>
                    <div class="label" data-value="Hp">Hp</div>
                    <input type="checkbox" name="checkbox" value="hp" data-filter="scrManufacturereen" class="filter-checkbox">
                </div>

                <div class="checkbox-group" data-status="inactive">
                    <div class="checkbox"><i class="ion-android-done"></i></div>
                    <div class="label" data-value="ASUS">ASUS</div>
                    <input type="checkbox" name="checkbox" value="asus" data-filter="scrManufacturereen" class="filter-checkbox">
                </div>

                <div class="checkbox-group" data-status="inactive">
                    <div class="checkbox"><i class="ion-android-done"></i></div>
                     <div class="label" data-value="Acer">Acer</div>
                    <input type="checkbox" name="checkbox" value="acer" data-filter="scrManufacturereen" class="filter-checkbox">
                </div>

                <div class="checkbox-group" data-status="inactive">
                    <div class="checkbox"><i class="ion-android-done"></i></div>
                     <div class="label" data-value="Dell">Dell</div>
                    <input type="checkbox" name="checkbox" value="dell" data-filter="scrManufacturereen" class="filter-checkbox">
                </div>

                <div class="checkbox-group" data-status="inactive">
                    <div class="checkbox"><i class="ion-android-done"></i></div>
                     <div class="label" data-value="Sony">Sony</div>
                    <input type="checkbox" name="checkbox" value="sony" data-filter="scrManufacturereen" class="filter-checkbox">
                </div>

                <div class="checkbox-group" data-status="inactive">
                    <div class="checkbox"><i class="ion-android-done"></i></div>
                     <div class="label" data-value="Apple">Apple</div>
                    <input type="checkbox" name="checkbox" value="apple" data-filter="scrManufacturereen" class="filter-checkbox">
                </div>

                <div class="checkbox-group" data-status="inactive">
                    <div class="checkbox"><i class="ion-android-done"></i></div>
                     <div class="label" data-value="Lenovo">Lenovo</div>
                    <input type="checkbox" name="checkbox" value="lenovo" data-filter="scrManufacturereen" class="filter-checkbox">
                </div>

                <div class="checkbox-group" data-status="inactive">
                    <div class="checkbox"><i class="ion-android-done"></i></div>
                     <div class="label" data-value="Microsoft">Microsoft</div>
                    <input type="checkbox" name="checkbox" value="microsoft" data-filter="scrManufacturereen" class="filter-checkbox">
                </div>
              </div>
          </div>
        </div>
        <!-- /// -->

        <!-- Products -->
        {% include "ecommerce/products.html" %}
        <!-- /// -->
      </div>
    </div>
    <br><br>
    {% endblock content %}

    {% block script %}
    <script>
      $(document).ready(function(){
        var slider = document.getElementById("myRange");
        var slipoutput = document.getElementById("demo");
        slipoutput.innerHTML = slider.value + ' $';
        slider.oninput = function() {
        slipoutput.innerHTML = this.value +' $';
        }
        
      $('.favorites').click(function(e){
        let item = $(this)
        let id = $(this).data('id')
        const el = "<i class='ion-ios-heart'></i>"
        const el2 = "<i class='ion-ios-heart-outline'></i>"
        $.ajax({
          url:"{% url 'fav' %}",
          data:{
            'id':id
          },
          dataType:'json',
          success:function(data){
            if(item.children().hasClass('ion-ios-heart-outline')){
            item.children().remove()
            item.append(el)
            }else{
              item.children().remove()
              item.append(el2)
            }
          }
        })
      });
    });


    $('.checkbox-group').on('click',function(){
      var filterobj = {}
      if($(this).children()[2]){
        if($(this).children()[2].checked ==false){
          $(this).children()[2].checked = true
        }else{
          $(this).children()[2].checked = false
        }
      }
      if($(this).data('action')){
        filkey = $(this).data('action')
        var leng = document.querySelectorAll('input[data-filter='+ filkey +']:checked')
       for(var i=0;i<leng.length;i++){
          leng[i].checked = false
          leng[i].parentNode.dataset.status = 'inactive'
       }
      }
      $('.filter-checkbox').each(function(index,ele){
        var filterval = $(this).val()
        var filterkey = $(this).data('filter')
        filterobj[filterkey]=Array.from(document.querySelectorAll('input[data-filter='+ filterkey +']:checked')).map(function(el){
          return el.value;
        })
      })
      if($(this).data('clear')){
        var slider = document.getElementById("myRange");
        var slipoutput = document.getElementById("demo");
        slider.value = 1000
        slipoutput.innerHTML = slider.value + ' $';
        
      }
        var slider = document.getElementById("myRange");
        sliderval = slider.value
        filterobj['price'] = sliderval
      if($(this).data('tags')){
        tagval = $(this).data('val')
        tagkey = $(this).data('tags')
        filterobj[tagkey] = tagval
      }

      if($(this).data('list')){
        listval = $(this).data('list')
        filterobj['listby'] = listval
      }

      console.log(filterobj)
    $.ajax({
      url:"{% url 'catalog-filter' %}",
      data:filterobj,
      dataType:'json',
      success:function(res){
        $('#products').html(res.data)
      }
    })
  })

    </script>
  
    {% endblock script %}