{% extends 'base.html' %}
{% load static %}
{% load countries %}
{% block title %}
&middot; Unistore|Checkout order

{% endblock title %}

{% block content %}

<hr class="offset-md">

<div class="box">
<div class="container">
    <h1>Checkout order</h1>
</div>
</div>
<hr class="offset-md">

<div class="container">
<div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="checkout">
                <div class="addresses box-select">
                    <h2> 1. Delevery address</h2>
                    <hr class="offset-sm">
                    
                    {% for cust in customer %}
                    
                    {% if forloop.first %}
                        <address class="box-default sm-padding" data-style="selected" id="fir">
                        <input type="hidden" name="inputid" id="inputid" value="{{cust.id}}">
                    {% else %}
                        <address class="box-default sm-padding" data-style="default">
                        <input type="hidden" name="inputid" id="inputid" value="{{cust.id}}" style="display:none">
                    {% endif %}
                        
                        
                        <hr class="offset-sm">

                        <h3 class="no-margin"><i class="ion-ios-person"></i> John Doe</h3>
                        <p>
                            <i class="ion-ios-location"></i> {{cust.CustZipcode}}, {{cust.CustCity}}, {{cust.CustLocality}}, {% if cust.CustCountry.name %} {{cust.CustCountry.name}} {% else %} {{cust.CustCountry}} {% endif %}
                        </p>

                        <div class="check">
                            <i class="ion-checkmark-round"></i>
                        </div>
                        <hr class="offset-sm">
                        
                    </address>
                    {% endfor %}
                        
                    

                    <hr class="offset-sm">
                    <a href="#addaddress" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Add new address
                    </a>
                    <hr class="offset-sm">
                    <div class="collapse" id="collapseExample">
                        <form method='POST'>
                            {% csrf_token %}
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="row group">
                                        <div class="col-sm-4"><h2 class="h4">Choose country</h2></div>
                                        <div class="col-sm-8">
                                            <!-- <input type="text" class="form-control" name="country" value="" required="" placeholder="" /> -->
    
                                            <div class="group-select justify" tabindex='1'>                                            
                                                {{form.CustCountry}}
                                            </div>
                                        </div>
                                    </div>
    
                                    <hr class="offset-sm">
                                    <div class="row">
                                        <div class="col-sm-4">
                                        <p>City</p>
                                        {{form.CustCity}}
                                        {{form.CustCity.errors}}
                                        </div>
                                        <div class="col-sm-4">
                                        <hr class="offset-sm visible-xs">
                                        <p>Street</p>
                                        {{form.CustLocality}}
                                        {{form.CustLocality.errors}}
                                        </div>
                                        <div class="col-sm-2">
                                        <hr class="offset-sm visible-xs">
                                        <p>Zip</p>
                                        {{form.CustZipcode}}
                                        {{form.CustZipcode.errors}}
                                        </div>
                                        <button class="form-control btn btn-primary" style="margin-left: 2%;width: 96%;margin-top: 2%;" id="new-address-buttton">Add New Address</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <hr>
                </div>

                <div class="delivery box-select" id="delv">
                    <h2> 2. Delevery option </h2>
                    <hr class="offset-sm">

                    <div class="row"> 
                        <div class="col-md-6 op">
                            <div class="box-default sm-padding" data-style="selected">
                                <hr class="offset-sm">
                                <img src="../assets/img/shipping/fedex.jpg" title=" fedex " alt=" fedex " />
                                <span> 2-3 working days</span>
                                <div class="check">
                                    <i class="ion-checkmark-round"></i>
                                </div>
                                <hr class="offset-sm">
                            </div>
                        </div>
                        <div class="col-md-6 op">
                            <div class="box-default sm-padding">
                                <hr class="offset-sm">
                                <img src="../assets/img/shipping/dhl.jpg" title=" dhl " alt=" dhl " />
                                <span> 5-10 working days</span>
                                <div class="check">
                                    <i class="ion-checkmark-round"></i>
                                </div>
                                <hr class="offset-sm">
                            </div>
                        </div>
                        <div class="col-md-6 op">
                            <div class="box-default sm-padding">
                                <hr class="offset-sm">
                                <img src="../assets/img/shipping/ems.jpg" title=" ems " alt=" ems " />
                                <span> 5-10 working days</span>
                                <div class="check">
                                    <i class="ion-checkmark-round"></i>
                                </div>
                                <hr class="offset-sm">
                            </div>
                        </div>
                        <div class="col-md-6 op">
                            <div class="box-default sm-padding">
                                <hr class="offset-sm">
                                <img src="../assets/img/shipping/ups.jpg" title="ups " alt="ups " />
                                <span> 12-14 working days</span>
                                <div class="check">
                                    <i class="ion-checkmark-round"></i>
                                </div>
                                <hr class="offset-sm">
                            </div>
                        </div>
                    </div>


                    <hr class="offset-sm">
                    <hr>
                </div>

                <div class="payment box-select">
                    <h2> 3. Payment </h2>
                    <hr class="offset-sm">
                    
                    <div class="row"> 
                        <div class="col-md-12" id="paym">
                            <div class="box-default sm-padding" data-style="selected">
                                <hr class="offset-sm">
                                <img src="../assets/img/payments/paypal.jpg" title="  " alt="  " />
                                <span>paypal 0% Service fee</span>
                                <div class="check">
                                    <i class="ion-checkmark-round"></i>
                                </div>
                                <hr class="offset-sm">
                            </div>
                        </div>
                    </div>


                    <hr class="offset-sm">
                    <hr>
                </div>

                <div class="payment box-select">
                    <h2> 4. Remark </h2>
                    <hr class="offset-sm">

                    <textarea id="mar" name="remark" class="form-control" placeholder="Please, type remark" rows="5"></textarea>
                    <hr class="offset-sm">
                </div>
                <form method="POST" id="myform" action="{% url 'payment-done' %}">
                    {% csrf_token %}
                    <input type="hidden" name="address" id="inaddress">
                    <input type="hidden" name="option" id="inoption">
                    <input type="hidden" name="payment" id="inpayment">
                    <input type="hidden" name="remark" id="inremark">
                </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8 col-md-4">
      <hr class="offset-sm visible-sm">
        <div class="panel panel-default">
          <div class="panel-body">
            <h2 class="no-margin">Summary</h2>
            <hr class="offset-md">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6">
                        <p>Subtotal ({{cart.count}} items)</p>
                        <p>Discount</p>
                        <p>Delivery</p>
                    </div>
                    <div class="col-xs-6">
                        <p><b>${{all_amount}}</b></p>
                        <p><b>$0</b></p>
                        <p><b>${{Delivery}}</b></p>
                    </div>
                </div>
            </div>

            <div class="checkboxes">
                <div class="radio">
                    <label id="lab"   style="padding-left: 0px;">
                        <input type="checkbox" name="optionsRadios" id="optionsRadios1" value="option1" style="margin-right: 5px;">
                        <span>Coupon</span>
                    </label>
                    <hr class="offset-xs">

                    <div class="input-group" id="collapseOne" style="display:none">
                      <input type="text" class="form-control input-sm" placeholder="Insert code">
                      <span class="input-group-btn">
                        <button class="btn btn-primary btn-sm" type="button">Apply</button>
                      </span>
                    </div><!-- /input-group -->
                    <hr class="offset-sm">
                </div>
            </div>
            <hr>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6">
                        <h3 class="no-margin">Total sum</h3>
                    </div>
                    <div class="col-xs-6">
                        <h3 class="no-margin">${{total_amount}}</h3>
                    </div>
                </div>
            </div>
            <hr class="offset-md">

            <div id="paypal-button-container"></div>
          </div>
        </div>
    </div>
</div>
</div>
<hr class="offset-lg">
<hr class="offset-lg">
{% endblock content %}

{% block script %}
<script src="https://www.paypal.com/sdk/js?client-id=ASW2HYmHS9plauaMpw4sJT67AhBBYJs3zs349drDIV8uBWrmZI02Is07an5yApDbuUQvWMsh5TU1pPlk&currency=USD"></script>
<script>
      $(function(){

        $('#optionsRadios1').change(function(){
            if(document.getElementById('collapseOne').style.display == 'table'){
                
                document.getElementById('collapseOne').style.display = 'none'
            }else{
                document.getElementById('collapseOne').style.display = 'table'
            }
        })
        $('button').on('click', function(){
            $('#myform').submit()
        })
        $('#inaddress').val(document.getElementById('fir').children[0].value)
        $('address').click(function(){
            document.getElementById('inputid').style.display = 'none'
            this.children[0].style.display = 'block'
            $('#inaddress').val(this.children[0].value)
        })
        $('#inoption').val(document.getElementById('delv').children[2].children[0].children[0].children[2].textContent)
        $('.op').on('click', function(){
            $('#inoption').val(this.children[0].children[2].textContent)
        })
        $('#inpayment').val(document.getElementById('paym').children[0].children[2].textContent)
        $('#mar').keyup(function(){
            var text = $(this).val()
            $('#inremark').val(text)
        })
    })

    
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '{{total_amount}}'
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                    document.getElementById('myform').submit();
                });
            }


        }).render('#paypal-button-container');
  </script>
{% endblock script %}