{% extends 'base.html' %}
{% load static %}
{% block title %}Gallery &middot; Unistore{% endblock title %}

{% block content %}

    <div class="container gallery">
        <div class="row">
          
          {% for gal in gallerys %}
          {% if not gal.video == ' ' %}
              <div class="col-xs-6 col-sm-2">
                <div class="preview" data-preview="{{gal.img_url}}" data-gallery="#video" 
                      data-source="{{gal.source}}" data-id="{{gal.video}}" data-title="{{gal.title}}" data-description="{{gal.description}}">
                  <div class="overlay"></div>
                  <i class="ion-ios-play"></i>
                </div>
              </div>
            {% else %}
              <div class="col-xs-6 col-sm-2">
                <div class="preview" data-preview="{{gal.img_url}}" data-gallery="#photo" data-source="{{gal.img_url}}" data-title="{{gal.title}}" data-description="{{gal.description}}">
                  <div class="overlay"></div>
                    <i class="ion-ios-albums-outline"></i>
                  </div>
                </div>
              
            {% endif %}
            
          {% endfor %}
            
          

        </div>
    </div>
    <hr class="offset-lg">
    <hr class="offset-lg">
{% endblock %}