<div id="products">
  <div class="col-sm-9 products">
      <div class="row">

        
        {% for product in products %}
          <div class="col-sm-6 col-md-4 product">
          
          {% if request.user in product.favourites.all %}
            <a href="#" class="favorites" data-favorite="inactive" data-id='{{product.id}}' id="fav"><i class="ion-ios-heart"></i></a>
          {% else %}
          <a href="#" class="favorites" data-favorite="inactive" data-id='{{product.id}}' id="fav"><i class="ion-ios-heart-outline"></i></a>
          {% endif %}
            
          
          <a href="{% url 'catalog-product' product.id %}"><img src="{{product.img.url}}" alt="{{product.title}}"/></a>

          <div class="content">
            <h1 class="h4">{{product.title}}</h1>
            
            {% if product.discount_price %}
              <p class="sale">${{product.discount_price}}</p>
            <p class="price through">${{product.selling_price}}</p>
            {% else %}
            <p class="price">${{product.selling_price}}</p>
            {% endif %}
              
            

            
            <label>{{product.prodtype}}</label>

            <a href="{% url 'catalog-product' product.id %}" class="btn btn-link"> Details</a>
            
            {% if product in item_in_cart %}
              <a href="{% url 'cart' %}" style="padding-right: 20px;"><button class="btn btn-warning btn-rounded btn-sm"> <i class="ion-bag"></i> Go To Cart</button></a>
            {% else %}
            <form method="POST" action="/addtocart/" style="display: inline-block;">
              {% csrf_token %}
              <input type="hidden" value="{{product.id}}" name='id'>
              <button class="btn btn-primary btn-rounded btn-sm" type="submit"> <i class="ion-bag"></i> Add to cart</button>
            </form>
            {% endif %}
          </div>
        </div>
        {% endfor %}
          
        

      </div>
      {% include "ecommerce/pagination.html" %}
    </div>
</div>