{% extends 'base.html' %}
{% load static %}


{% block title %}{% endblock title %}

{% block content %}
    <div class="blog-item">
    	<img src="{% static 'assets/img/blog/item-photo.jpg' %}" alt="Apple 3D Touch"/>
      <div class="container">
    		<br><br>

	    	<div class="row">
	    		<div class="col-sm-8 col-sm-offset-2">
	    			<h1>Apple Introduces 3D Touch, The Next Generation Of Multitouch For The iPhone 6S</h1>
		    		 <br>

		    		 <p>
		    		 	In an effort to deliver the next generation of what Apple CEO Tim Cook called "the most-loved phone in the world," the iPhone 6S has created the next generation of its industry-shattering multitouch screen: the 3D Touch, which Chief Design Officer Jony Ive called "a tremendous breakthrough in interacting with our devices" in the company's demo video.
		    		 	<br><br>

		    		 	Deemed "a whole new dimension to the way you experience your iPhone" by Apple, 3D Touch recognizes a user's wanted action via finger pressure and force, rather than a mere gesture like the traditional swipe or pinch.
		    		 	<br><br>

		    		 	But how exactly does this work? The explanation is somewhat simple, even if the technology is more extensive than meets the eye. To wit: sensors within the smartphone measure the force of finger pressure, which then translates, letting the iPhone know the users needs and wants.
		    		 	<br><br>

		    		 	For example, if a user applies a light pressure to the screen when selecting an option to view content, the preview for said content pops up; if the user presses harder on the option for the content, it will open automatically.
		    		 	<br><br>

		    		 	Apple's Craig Federighi, senior vice president of software engineering, who conducted a live demo at the Apple event, also demonstrated how the new interactive interface eliminates going "in and out" of windows in certain apps, like mail apps – with 3D Touch, pressure dictates whether the user wants a sneak peek of a message, or to fully view it.
		    		 </p>
		    		 <br>

		    		 <button class="btn btn-primary btn-sm facebook"> <i class="ion-social-facebook"></i> Share </button>
		    		 <button class="btn btn-primary btn-sm twitter"> <i class="ion-social-twitter"></i> Retweet</button>
		    		 <button class="btn btn-primary btn-sm googleplus"> <i class="ion-social-googleplus"></i> Plus </button>

		    		 <hr>
		    		 <div class="comments">
		    		 	<h2 class="h3">What do you think? (#2)</h2>
		    		 	<br>


		    		 	<h3>Anne Hathaway</h3>
		    		 	<label>2 years ago</label>
		    		 	<p>
		    		 		Apple Music brings iTunes music streaming to the UK. But is it worth paying for? In our Apple Music review, we examine the service's features, UK pricing, audio quality and music library
		    		 	</p>


		    		 	<h3>Chris Hemsworth</h3>
		    		 	<label>Today</label>
		    		 	<p>
		    		 		Samsung's Galaxy S7 smartphone is getting serious hype. Here's what it does better than Apple's iPhone 6s.
		    		 	</p>
		    		 	<br>

		    		 	<button class="btn btn-default btn-sm" data-toggle="modal" data-target="#Modal-Comment"> <i class="ion-chatbox-working"></i> Add comment </button>
		    		 </div>
	    		</div>
	    	</div>
    	</div>
    </div>
    <br><br>
{% endblock %}