{% extends 'base.html' %}
{% load static %}


{% block title %}Blog &middot; Unistore{% endblock title %}

{% block content %}

<!-- 

	message before delete comment
<div class="">
	<div class="message" id="message" style="position: fixed;width: 100%;height: 100vh;background-color: rgba(0, 0, 0, 0.7);top: 0;display: none;">

			<div id="messagec" style="position: fixed;top: 47%;left: 50%;transform: translate(-50%,-50%);background-color: rgb(255, 255, 255);border-radius: 7px;width: 300px;height: 150px;padding: 10px;">
			<h2 style="margin-bottom: 35px;margin-top: 10px;">are you sure?</h2>
			<a href="" class="btn btn-danger" style="margin-left: 5px;margin-right: 13px;">Delete</a>
			<button class="btn btn-success" onclick="hidemessage()">Cancle</button>
		</div>
	</div>
</div> -->
<div class="container">
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-{{message.tags}}">{{message}}</div>
		{% endfor %}
	{% endif %}
</div>
    <div class="blog-item">
    	<img src="{{post.PostImg.url}}" alt="Apple 3D Touch"/>
      <div class="container">
    		<br><br>

	    	<div class="row">
	    		<div class="col-sm-8 col-sm-offset-2">
	    			<h1>{{post.Postitle}}</h1>
		    		 <br>

		    		 <p>
		    		 	{{post.Possubject}}
					</p>
		    		 <br>

		    		 <button class="btn btn-primary btn-sm facebook"> <i class="ion-social-facebook"></i> Share </button>
		    		 <button class="btn btn-primary btn-sm twitter"> <i class="ion-social-twitter"></i> Retweet</button>
		    		 <button class="btn btn-primary btn-sm googleplus"> <i class="ion-social-googleplus"></i> Plus </button>
						{% if post.Posuser == request.user %}
						<div style="float: right;">
							<a href="{% url 'delete-post-item-photo' post.id %}" class="btn btn-danger">Delete Post</a>
							<a href="{% url 'update-post-item-photo' post.id %}" style="margin-left: 9px;" class="btn btn-success">Update Post</a>
						</div>
						{% endif %}
		    		 <hr>
		    		 <div class="comments">
						 
						 
							 
						 
						 {% if changecomment %}			
						 <h1>Update Comment</h1>			 
		    		 	<div class="card card-body" style="margin-top: 20px;">
							<form method='POST'>
								{% csrf_token %}
								  <h5>Update Your Comment</h5>
								  
								  {% for fm in form %}
									  {{fm}}{{fm.errors}}
								  {% endfor %}
								  <button type="submit" class="btn btn-success" style="margin-top: 10px;"> {% if changecomment %}{{changecomment}} {% else %}Add comment{% endif %}</button>
							</form>
						</div>
					  </div>
						 {%else%}
						 <h2 class="h3">What do you think? (#{{post.comment.count}})</h2>
		    		 	<br>
						 <button class="btn btn-default btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"> <i class="ion-chatbox-working"></i> Add comment </button>
						 <div class="collapse " id="collapseExample" >
							<div class="card card-body" style="margin-top: 20px;">
								<form method='POST'>
									{% csrf_token %}
									  <h5>Enter Your Comment</h5>
									  
									  {% for fm in form %}
										  {{fm}}{{fm.errors}}
									  {% endfor %}
									  <button type="submit" class="btn btn-success" style="margin-top: 10px;"> {% if changecomment %}{{changecomment}} {% else %}Add comment{% endif %}</button>
								</form>
							</div>
						  </div>
						 {% endif %}
						 
						  <hr>
						{% for comment in comments %}
						 <div style="display: block;">
							<h3 style="display: inline;">{{comment.PComuser}}{% if comment.PComuser == request.user %} (You){% endif %} </h3>
							{% if comment.PComuser == request.user %}
								<div style="float: right;">
								<a href="{% url 'blog-item-photo-update' comment.id %}"><button class="btn btn-success float-right">Update</button></a>
							    <a href="{% url 'blog-item-photo-delete' comment.id %}"><button id="comment-delete" style="margin-left: 10px;" class="btn btn-danger float-right deletecomment">Delete</button></a>
								</div>
							{% endif %}
							
						 </div>
		    		 	<label>{{ comment.PComadd|timesince }} ago</label>
		    		 	<p>
		    		 		{{comment.PComessage}}
						 </p>
						 <br>
						 <br>
						{% endfor %}
		    		 	
		    		 </div>
	    		</div>
	    	</div>
    	</div>
    </div>
    <br><br>
{% endblock %}

{% block script %}
  <!-- <script>
	  message before delete comment
function showmessage(){

	var message = document.getElementById('message')
	message.style.display = ' Block'
	}
function hidemessage(){
	var message = document.getElementById('message')
	message.style.display = ' Block'
}
  </script> -->
{% endblock script %}