{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock title %}

{% block content %}

    <div class="blog-item">
      <div class="tiles">
        <a href="#video" data-gallery="#video" data-source="youtube" data-id="uf7U3Y2DFCA" data-title="MacBook Pro - brand new day for business" data-description="So capable, you won’t want to put it down. So thin and light, you won’t have to.">
            <img src="../assets/img/blog/item-video.jpg" alt="MacBook Pro"/>

          <div class="overlay"></div>
          <div class="content">
            <div class="content-outside">
              <div class="content-inside">
                <i class="ion-ios-play"></i>
                <h1>MacBook Pro <br> brand new day for business</h1>
              </div>
            </div>
          </div>
        </a>
      </div>

    	<div class="container">
    		<br><br>


	    	<div class="row">
	    		<div class="col-sm-8 col-sm-offset-2">
		    		 <p>
		    		 	Organizations everywhere are realizing the potential that Mac brings to their employees by giving them the freedom to use the tools they already know and love.
		    		 	<br><br>

		    		 	Software and hardware made for each other. Because Apple designs both the software and hardware, every Mac delivers the best possible experience for employees. OS X works seamlessly with hardware in every Mac, like the super-responsive trackpad in Mac notebooks that make Multi-Touch gestures feel natural to use. And thanks to multicore Intel processors and fast flash storage, a Mac wakes instantly from sleep, ready to perform any task.
		    		 	<br><br>

		    		 	New ways for employees to get work done. With OS X and the built-in apps that come with every Mac, employees can be productive right away — on a platform they love. And with innovative new types of business apps, employees are able to collaborate in new ways and manage their work like never before.
		    		 </p>
		    		 <br>

		    		 <button class="btn btn-primary btn-sm facebook"> <i class="ion-social-facebook"></i> Share </button>
		    		 <button class="btn btn-primary btn-sm twitter"> <i class="ion-social-twitter"></i> Retweet</button>
		    		 <button class="btn btn-primary btn-sm googleplus"> <i class="ion-social-googleplus"></i> Plus </button>

		    		 <hr>
		    		 <div class="comments">
		    		 	<h2 class="h3">What do you think? (#2)</h2>
		    		 	<br>


		    		 	<h3>Anne Hathaway</h3>
		    		 	<label>2 years ago</label>
		    		 	<p>
		    		 		Apple Music brings iTunes music streaming to the UK. But is it worth paying for? In our Apple Music review, we examine the service's features, UK pricing, audio quality and music library
		    		 	</p>


		    		 	<h3>Chris Hemsworth</h3>
		    		 	<label>Today</label>
		    		 	<p>
		    		 		Samsung's Galaxy S7 smartphone is getting serious hype. Here's what it does better than Apple's iPhone 6s.
		    		 	</p>
		    		 	<br>

		    		 	<button class="btn btn-default btn-sm" data-toggle="modal" data-target="#Modal-Comment"> <i class="ion-chatbox-working"></i> Add comment </button>
		    		 </div>
	    		</div>
	    	</div>
    	</div>
    </div>
    <br><br>
{% endblock %}