{% extends 'base.html' %}
{% load static %}


{% block title %}Blog|Review &middot; Unistore{% endblock title %}
  

{% block over-content %}
    <nav class="navbar navbar-default navbar-fixed-top navbar-buy">
        <div class="container">
          <a class="btn btn-default btn-sm pull-right navbar-btn scroll-to" href="#products"> <i class="ion-android-done"></i> Buy now</a>
          
          <div class="navbar-header">
            <a class="navbar-brand" href="./">  HP Chromebook</a>
          </div>
        </div><!--/.container-fluid -->
    </nav>
    {% endblock over-content %}

{% block content %}
  


    <div class="blog-item">
    	<div class="container marketing">
        <div class="row">
          <div class="col-sm-12 align-center">
            <h1>{{item.headertext}}</h1>
            <p>{{item.headertitle}}</p>
            <a href="#video" data-gallery="#video" data-source="youtube" data-id="AqUjIs0pw_U" data-title="HP Chromebook review" data-description="Detailed unboxing and review of the new Google designed 11-inch HP Chromebook. 239$">
              Video unboxing & review <i class="ion-ios-play"></i>
            </a>
            <br><br>
          </div>
          <div class="col-sm-6 col-sm-offset-3 align-center">
            <img src="{{item.headerimg.url}}" alt="HP Chromebook" class="image" />
            <h2>Starting at ${{item.price}}</h2>

            <a href="#first-featurette" class="scroll-to"> <i class="ion-android-arrow-down"></i> <br> Scroll for more </a>
          </div>
        </div>
        <br><br>

        <div class="row featurette" id="first-featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">{{item.reviewtitle1}}</h2>
            <p class="lead">
              {{item.reviewdescription1}}
            </p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" alt="500x500" src="{{item.reviewimg1.url}}">
          </div>
        </div>

        <hr>

        <div class="row featurette" id="second-featurette">
          <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">{{item.reviewtitle2}}</h2>
            <p class="lead">
              {{item.reviewdescription2}}
            </p>
          </div>
          <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" alt="500x500" src="{{item.reviewimg2.url}}">
          </div>
        </div>

        <hr>

        <div class="row featurette" id="third-featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">{{item.reviewtitle3}}</h2>
            <p class="lead">
              {{item.reviewdescription3}}
            </p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" alt="500x500" src="{{item.reviewimg3.url}}">
          </div>
        </div>
      </div>

      <br><br>

      <div class="review-background">
        <div class="container">
          <h1> The stylish HP Chromebook provides <br> a speedy connection to your protected online content and <br> automatically updated apps</h1>
          <br><br>

          <p>All within an ultra-thin full-sized notebook, providing a comfortable gateway to surf, socialize and play.</p>
        </div>
      </div>
    </div>
    <br><br>

    <div class="products" id="products">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-3 col-md-offset-3 product">
                <a href="#favorites" class="favorites" data-favorite="inactive"><i class="ion-ios-heart-outline"></i></a>
                <a href="./"><img src="{% static 'assets/img/products/chrome-book-11.jpg' %}" alt="HP Chromebook 11"/></a>

                <div class="content">
                  <h1 class="h4">HP Chromebook 11</h1>
                  <p class="price">$199.99</p>
                  <label>Laptops</label>

                  <a href="../catalog/product.html" class="btn btn-link"> Details</a>
                  <button class="btn btn-primary btn-rounded btn-sm"> <i class="ion-bag"></i> Add to cart</button>
                </div>
              </div>

              <div class="col-sm-6 col-md-3 product">
                <a href="#favorites" class="favorites" data-favorite="inactive"><i class="ion-ios-heart-outline"></i></a>
                <a href="./"><img src="{% static 'assets/img/products/chrome-book-14.jpg' %}" alt="HP Chromebook 14"/></a>

                <div class="content">
                  <h1 class="h4">HP Chromebook 14</h1>
                  <p class="sale">$209.99</p>
                  <p class="price through">$249.99</p>
                  <label>Laptops</label>

                  <a href="../catalog/product.html" class="btn btn-link"> Details</a>
                  <button class="btn btn-primary btn-rounded btn-sm"> <i class="ion-bag"></i> Add to cart</button>
                </div>
              </div>
        </div>
      </div>
    </div>
{% endblock content %}

{% block script %}
  
{% endblock script %}