{% extends 'base.html' %}
{% load static %}

{% block title %}Blog &middot; Unistore{% endblock title %}

{% block content %}

<div class="container">
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-{{message.tags}}">{{message}}</div>
		{% endfor %}
	{% endif %}
</div>


    <div class="blog-item">
      <div class="tiles">
        <a href="#video" data-gallery="#video" data-source="youtube" data-id="{{video.PosvId}}" data-title="MacBook Pro - brand new day for business" data-description="So capable, you won’t want to put it down. So thin and light, you won’t have to.">
            <img src="{{video.posvimg.url}}" alt="MacBook Pro"/>

          <div class="overlay"></div>
          <div class="content">
            <div class="content-outside">
              <div class="content-inside">
                <i class="ion-ios-play"></i>
                {{video.Posvtitle|safe}}
              </div>
            </div>
          </div>
        </a>
      </div>

    	<div class="container">
    		<br><br>


	    	<div class="row">
	    		<div class="col-sm-8 col-sm-offset-2">
		    		 <p>
		    		 	{{video.Posvsubject}}
		    		 </p>
		    		 <br>

		    		 <button class="btn btn-primary btn-sm facebook"> <i class="ion-social-facebook"></i> Share </button>
		    		 <button class="btn btn-primary btn-sm twitter"> <i class="ion-social-twitter"></i> Retweet</button>
		    		 <button class="btn btn-primary btn-sm googleplus"> <i class="ion-social-googleplus"></i> Plus </button>
					 {% if post.Posvuser == request.user %}
						<div style="float: right;">
							<a href="{% url 'delete-post-item-video' post.id %}" class="btn btn-danger">Delete Post</a>
							<a href="{% url 'update-post-item-video' post.id %}" style="margin-left: 9px;" class="btn btn-success">Update Post</a>
						</div>
						{% endif %}
		    		 <hr>
		    		 <div class="comments">
						<h2 class="h3">What do you think? (#{{video.videocomment.count}})</h2>
						<hr><br>
						{% if changecomment %}			
						<h1>Update Comment</h1>			 
						<div class="card card-body" style="margin-top: 20px;">
						   <form method='POST'>
							   {% csrf_token %}
								 <h5>Update Your Comment</h5>
								 
								 {% for fm in form %}
									 {{fm}}{{fm.errors}}
								 {% endfor %}
								 <button type="submit" class="btn btn-success" style="margin-top: 10px;"> {% if changecomment %}{{changecomment}} {% else %}Add comment{% endif %}</button>
						   </form>
					   </div>
					 </div>
					 <hr><br><br>
					 {% endif %}

						{% for comment in comments %}
						 <div style="display: block;">
							<h3 style="display: inline;">{{comment.PVComuser}}{% if comment.PVComuser == request.user %} (You){% endif %} </h3>
							{% if comment.PVComuser == request.user %}
								<div style="float: right;">
								<a href="{% url 'update-video-item' comment.id %}"><button class="btn btn-success float-right">Update</button></a>
							    <a href="{% url 'delete-video-item' comment.id %}"><button id="comment-delete" style="margin-left: 10px;" class="btn btn-danger float-right deletecomment">Delete</button></a>
								</div>
							{% endif %}
						</div>
						<label>{{ comment.PVComadd|timesince }} ago</label>
						<p>
							{{comment.PVComessage}}
						</p>
						<br>
						<br>
						{% endfor  %}

						
						{% if not changecomment %}
						<br>
						<button class="btn btn-default btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"> <i class="ion-chatbox-working"></i> Add comment </button>
						<div class="collapse " id="collapseExample" >
						   <div class="card card-body" style="margin-top: 20px;">
							   <form method='POST'>
								   {% csrf_token %}
									 <h5>Enter Your Comment</h5>
									 
									 {% for fm in form %}
										 {{fm}}{{fm.errors}}
									 {% endfor %}
									 <button type="submit" class="btn btn-success" style="margin-top: 10px;"> {% if changecomment %}{{changecomment}} {% else %}Add comment{% endif %}</button>
							   </form>
						   </div>
						 </div>
						{% endif %}
		    		 </div>
	    		</div>
	    	</div>
    	</div>
    </div>
    <br><br>
{% endblock %}