<div>
    {% if is_paginated %}
    <nav>
      <ul class="pagination">
        {% if page_obj.has_previous %}
        <li>
          <a href="/blog?page={{ page_obj.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true"><i class="ion-ios-arrow-left"></i></span>
          </a>
        </li>
        <li><a href="/blog?page=1">1</a></li>
        <li class="disabled"><a href="#">..</a></li>
        <li>
          <a href="/blog?page={{ page_obj.previous_page_number }}" aria-label="Next">{{ page_obj.previous_page_number }}</a>
        </li>
        {% else %}
        <li class="disabled active">
          <span aria-label="Next">
            <span aria-hidden="true"><i class="ion-ios-arrow-left"></i></span>
          </span>
        </li>
        {% endif %}
        <li class="active"><a href="#">{{ page_obj.number }}</a></li>
        {% if page_obj.has_next %}
          <li><a href="/blog?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li class="disabled"><a href="#">..</a></li>
        <li><a href="/blog?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
        <li>
          <a href="/blog?page={{ page_obj.next_page_number }}" aria-label="Next">
            <span aria-hidden="true"><i class="ion-ios-arrow-right"></i></span>
          </a>
        </li>
        {% else %}
        <li class="disabled active">
          <span aria-label="Next">
            <span aria-hidden="true"><i class="ion-ios-arrow-right"></i></span>
          </span>
        </li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
  </div>