{% extends 'base.html' %}
{% load static %}
{% block title %}Contacts &middot; Unistore{% endblock title %}

{% block content %}

    <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div id="Address">
              <address>
                <label class="h3">Unistore, Inc.</label><br>
                1305 Market Street, Suite 800<br>
                San Francisco, CA 94102<br>
                <abbr title="Phone">P:</abbr> (123) 456-7890
              </address>

              <address>
                <strong>Support</strong><br>
                <a href="mailto:#">sup@example.com</a>
                <br><br>

                <strong>Partners</strong><br>
                <a href="mailto:#">col@example.com</a>
              </address>
            </div>
          </div>
          <div class="col-sm-8">
            <div id="GoMap"></div>
          </div>
        </div>
        <br>
    </div>

    
    {% include "about/form_section.html" %}
    <hr class="offset-lg">
    <hr class="offset-lg">
{% endblock %}

{% block script %}
  <script>
      function initMap() {
        var mapDiv = document.getElementById('GoMap');
        var markerLatLng = {lat: 37.77610833280797, lng: -122.41745173931122};

        var map = new google.maps.Map(mapDiv, {
            center: {lat: 37.77610833280797, lng: -122.41745173931122},
            zoom: 8
        });

         var marker = new google.maps.Marker({
          position: markerLatLng,
          map: map,
          title: 'Unistore'
        });


        // google.maps.event.addListener(map, "rightclick", function(event) {
        //     var lat = event.latLng.lat();
        //     var lng = event.latLng.lng();
        //     // populate yor box/field with lat, lng
        //     console.log("Lat=" + lat + "; Lng=" + lng);
        // });

      }
    </script>
{% endblock script %}
