{% extends 'base.html' %}
{% load static %}
{% block title %}FAQ &middot; Unistore{% endblock title %}

{% block content %}

    <div class="container faq">
      
        <div class="row">
          <div class="col-sm-6">
            <div style="display: block;margin-bottom: 42px;">
              <h3 style="border-bottom: 2px solid #777;display: inline;">Older questions</h3>
            </div>
            {% for fq in first_question %}
              <a class="" role="button" data-toggle="collapse" href="#question{{forloop.counter}}{{fq.id}}" aria-expanded="true" aria-controls="question{{forloop.counter}}{{fq.id}}">
                <h1 class="h3">{{fq.question}}</h1>
              </a>

            <div class="collapse" id="question{{forloop.counter}}{{fq.id}}">
              <div class="well">
                <p>
                  {{fq.answer.answer}}
                </p>
              </div>
            </div>
            <br>
            {% endfor %}
            <!-- //// -->

          </div>
          <div class="col-sm-6">
            <div style="display: block;margin-bottom: 42px;">
              <h3 style="border-bottom: 2px solid #777;display: inline;">The most recent questions</h3>
            </div>
            
            {% for lq in last_question %}
              <a class="" role="button" data-toggle="collapse" href="#question{{forloop.counter}}{{lq.id}}" aria-expanded="true" aria-controls="question{{forloop.counter}}{{lq.id}}">
              <h1 class="h3">{{lq.question}}</h1>
            </a>
            <div class="collapse" id="question{{forloop.counter}}{{lq.id}}">
              <div class="well">
                {% if lq.answer.answer %}
                  <p>
                  {{lq.answer.answer}}
                </p>
                {% else %}
                <h3>Not aneswer Yet</h3>
                {% endif %}
              </div>
            </div>
            <br>
            {% endfor %}
              
          </div>
        </div>
        
        <nav aria-label="...">
          <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class=""><a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            <li class=""><a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }} <span class="sr-only">(current)</span></a></li>
            {% else %}
            <li class="active"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            {% endif %}
            
            <li class="active"><a>{{ page_obj.number }} <span class="sr-only">(current)</span></a></li>
            {% if page_obj.has_next %}
            <li class=""><a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}<span class="sr-only">(current)</span></a></li>
            <li class=""><a href="?page={{ page_obj.next_page_number }}" aria-label="next"><span aria-hidden="true">&raquo;</span></a></li>
            {% else %}
            <li class="active"><a href="#" aria-label="next"><span aria-hidden="true">&raquo;</span></a></li>
            {% endif %}
          </ul>
        </nav>
    </div>

    <hr class="offset-lg">
    {% include "about/form_section.html" %}
    <hr class="offset-lg">
    <hr class="offset-lg">

{% endblock %}

{% block script %}
  <script type="text/javascript">
      $(document).ready(function(){
        setTimeout(function(){
          $('.container.faq').find('.col-sm-6 > a:nth-child(2)').trigger('click');
        }, 500);
      });
    </script>
{% endblock script %}
    
