{% extends "base.html" %}



{% block title %}Reset Password{% endblock title %}
{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 md-padding">
          

          <h1 class="align-center">Reset Password</h1>
          <br>

          <form class="signin" method="post">
            {% csrf_token %} 
            {% for fm in form %}
              {{fm}} <small class="text-danger">{{fm.errors}}</small><br>
            {% endfor %}
              

            <button type="submit" class="btn btn-primary">Reset</button>
            <br><br>


          </form>
        </div>
      </div>
    </div>

      
{% endblock content %}