{% extends "base.html" %}



{% block title %} Change Successfull{% endblock title %}
{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-2 md-padding">
          

          <h1 class="align-center">Change Password Successfully!!</h1>
          <br>
              

            <strong class="col-md-offset-2" style="margin-left: 11%;margin-right: 6%;font-size: 15px;">Go to profile page ></strong>
            <a class="align-center p-5" href="{% url 'profile' %}" ><button class="btn btn-primary" style="font-size: 150%;" >Profile Page</button></a>
            <br><br>

            

        </div>
      </div>
    </div>

      
{% endblock content %}