{% extends "base.html" %}
{% load static %}


{% block title %} &middot; Unistore| Profile {% endblock title %}
{% block content %}
    <div class="container">
      
        
      <div class="row">
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{{message.tags}} text-center">{{message}}</div>
          {% endfor %}
        {% endif %}
        <div class="col-md-4 col-md-offset-2" style="border: 1px solid #777;">
          
          <h1 style="border-bottom: 1px solid #777;display: inline-block;margin-bottom: 10px;" > Profile </h1>
          <div class="text-left">
            <p>Username: {{user}}</p>
            <p>Email: {{user.email}}</p>
            <p>Phone: {{ profile.CustPhone }}</p>
          </div>
          <div class="">
            <h3>Add Location</h3>
            <form method="POST">
              {% csrf_token %}
              {% for fm in locform %}
              {% if forloop.first %}
              Country
              {{fm}}
              {{fm.errors}}
              {% else %}
                <div class="">
                  {{fm.label}}
                {{fm}}{{fm.errors}}
                </div>
                {% endif %}
              {% endfor %}
              <button id="add-location" type="submit" class="btn btn-primary" style="margin:10px;">add Location</button>
            </form>
            </div>
        </div>
        <div class=" col-md-offset-1 col-md-4">
          {% if locations %}
            {% for location in locations %}
              <div class="par" style="border: 1px solid #777777;padding-left: 18px;margin-bottom: 10px;overflow: hidden;">
                <h3 style="border-bottom: 1px solid #777;display: inline-block;">Location: {{forloop.counter}}</h3>
                {% if location.CustCountry.name %}
                <p>countryt: {{location.CustCountry.name}},</p>
                {% else %}
                <p>countryt: {{location.CustCountry}},</p>
                {% endif %}
                <p>city: {{location.CustCity}},</p>
                <p>Locality: {{location.CustLocality}},</p>
                <p>Zipcode: {{location.CustZipcode}},</p>
                <a class='remove-location' style="float: right;margin: 10px;" class="btn btn-secondary"><button id="{{location.id}}">Remove</button></a>
              </div>
            {% endfor %}
          {% else %}
            <h2 class="text-center">You dont add any location yet</h2>
          {% endif %}
        </div>
      </div>
    </div>
    
    {% if orders %}
    <div class="container">
      <div class="row">
        <h2>
          Your Orders
        </h2>

      <table class="table table-striped" style="border:1px solid #ddd;border-radius: 4px 4px 0 0;">
        <thead>
          <tr>
            <th>#</th>
            <th>The Cart</th>
            <th>The numper</th>
            <th>State</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for order in orders %}
            <th scope="row" style="padding-top: 20px;">{{forloop.counter}}</th>
              <td><img src="{{order.product.img.url}}" class="img-rounded" width="50" alt="{{order.product.title}} product"> {{order.product.title}}</td>
            <td style="padding-top: 20px;">{{order.quantity}}</td>
            <td>
              Order Status: {{order.state}}
              {% if order.state == 'Accepted'%}
              <div class="progress">
                <div class="progress-bar" rolr='progressbar' style="width:20%;" aria-valuenow='20' atia-valuemin='0' aria-valuemax='100'>20%</div>
              </div>
              {% endif %}
              
              {% if order.state == 'Packed'%}
              <div class="progress">
                <div class="progress-bar progress-bar-info" rolr='progressbar' style="width:40%;" aria-valuenow='40' atia-valuemin='0' aria-valuemax='100'>40%</div>
              </div>
              {% endif %}
              
              {% if order.state == 'On The Way'%}
              <div class="progress">
                <div class="progress-bar progress-bar-warning" rolr='progressbar' style="width:70%;" aria-valuenow='70' atia-valuemin='0' aria-valuemax='100'>70%</div>
              </div>
              {% endif %}
              
              {% if order.state == 'Delivered'%}
              <div class="progress">
                <div class="progress-bar progress-bar-success" rolr='progressbar' style="width:100%;" aria-valuenow='100' atia-valuemin='0' aria-valuemax='100'>100%</div>
              </div>
              {% endif %}

            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    
      </div>
    </div>
    {% endif %}
      

{% if request.user.favourite.exists %}
    <div class="container">
      <div class="col-sm-12 products">
      <div class="row" style="border:1px solid #ddd;border-radius: 4px 4px 0 0;">
        <h1 class="text-center" style="border-bottom: 1px solid #ddd;margin-left: 17px;margin-right: 17px;padding-bottom: 7px;">My favourites</h1>
      {% for fav in request.user.favourite.all %}
        <div class="col-sm-6 col-md-4 product">
          <a href="#favorites" class="favorites" data-favorite="inactive" fid='{{fav.id}}'><i class="ion-ios-heart"></i></a>
          <a href="{% url 'catalog-product' fav.id %}"><img src="{{fav.img.url}}" alt="Mi Pad 2/"></a>
          <div class="content">
            <h1 class="h4">{{fav.title}}</h1>
            {% if fav.discount_price %}
              <p class="sale">${{fav.discount_price}}</p>
              <p class="price through">${{fav.selling_price}}</p>
            {% else %}
            <p class="price">${{fav.selling_price}}</p>
            {% endif %}
            <label>{{fav.Brand}}</label>
            <a href="{% url 'catalog-product' fav.id %}" class="btn btn-link"> Details</a>
            <button class="btn btn-primary btn-rounded btn-sm"> <i class="ion-bag"></i> Add to cart</button>
          </div>
        </div>
      {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
{% endblock content %}


{% block script %}
<script>

  $(function(){
    $('.remove-location').on('click',function(e){
      var id = e.currentTarget.children[0].id
      var elm = this.parentNode
      console.log(elm)
      $.ajax({
        dataType:'json',
        data:{
          'id':id
        },
        url:"/account/profile/delete/"+ id +"/",
        success:function(e){
          elm.remove()
        }
      })
    })
  });

  $('.favorites').on('click',function(e){
    var fa_id =e.currentTarget
    var ico = fa_id.children[0]
    var elm =fa_id.parentElement
    $.ajax({
      dataType:'json',
      data:{
        'id':fa_id.getAttribute('fid')
      },
      url:"{% url 'fav' %}",
      success:function(res){
        ico.classList = "ion-ios-heart-outline"
        setTimeout(function(){elm.remove()},500)
        
      }
    })
  })

</script>
{% endblock script %}
  